body.dark-mode {
    --bg-color: #1c1e1f;
    --container-bg-color: #323537;
    --text-color: #e4e2e0;
    --secondary-color: #03dac6;

    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
    --bg-color: #ffffff;
    --container-bg-color: #f4f4f4;
    --text-color: #000000;
    --secondary-color: #1986f5;

    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* INDEX */
.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#inputs {
    margin: 6% auto;
    width: fit-content;
}

#inputs > label {
    padding: 0;
}

#inputs > select {
    border: 2px solid var(--secondary-color);
    color: var(--light-text-color);
    border-radius: 5px;

}

#inputs > select:hover {
    border: 2px solid blue;
    border-radius: 16px;
}

#inputs > select:focus {
    border: 3px solid #555;
    font-size: large;
    color: var(--text-color);
    background-color: var(--bg-color);
}

#inputs > input, #inputs > select {
    display: block;
    padding: 5px;
    margin: auto;
    margin-bottom: 10px;
    width: 93%;
    height: 26px;
    background-color: var(--light-bg-color);
    color: var(--text-color);
}

.submit, .reset {
    width: 80px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--light-text-color);
    height: 38px;
    margin: auto;
    font-weight: bold;
    font-size: large;
    letter-spacing: 1px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.input_side, .map_side {
  width: 49vw;
}

.reset {
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    color: var(--text-color);
    float: right;
}

.nav {
    height: 50px;
    width: 100vw;
    background-color: #454646;
    margin-bottom: 15px;
    text-align: center;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: Arial,Helvetica,sans-serif;
    text-shadow: 2px 2px orange ;
}

.submit:hover{
  color: darkorange;
  background-color: darkcyan;
}

.reset:hover{
  color: red;
  font-weight: bold;
  font-size: large;
}

.nav > p {
    height: 100%;
    margin: auto;
    overflow: hidden;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 33px;
    margin: 8px;
    margin-bottom: 0px;
    margin-top: 2px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    -webkit-transition: .4s;
    transition: .4s;
    
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: var(--text-color);
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--bg-color);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#inputs > input:focus {
    border-color: var(--secondary-color);
    transition: border-color 0.2s ease-in-out;
}

input[type=text] {
    border-radius: 4px;
    border: 2px solid var(--secondary-color);
    color: var(--light-text-color);
}

input[type=text]:focus {
    background-color: lightblue;
    border: 3px solid #555;
    text-align: center ;
    width: 50%;
    font-size: large;
}

input[type=text]:hover {
    border: 2px solid blue;
    border-radius: 16px;
}

input[type=date] {
    border: 2px solid var(--secondary-color);
    color: var(--light-text-color);
    border-radius: 4px;
}

input[type=date]:hover {
    border: 2px solid blue;
    border-radius: 16px;
}

input[type=date]:focus {
    background-color: var(--bg-color);
    border: 3px solid #555;
    font-size: large;
    font-weight: bold;

}

input[type=number] {
    border: 2px solid var(--secondary-color);
    color: var(--light-text-color);
    border-radius: 4px;
}

input[type=number]:hover {
    border: 2px solid blue;
    border-radius: 16px;
}

input[type=number]:focus {
    background-color: lightblue;
    border: 3px solid #555;
    font-size: large;
}

#inputs > input:focus {
    border-color: var(--secondary-color);
    transition: border-color 0.2s ease-in-out;
}

.nav_containers , #signin{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.nav_containers > input {
    border: 1px solid black;
    border-radius: 0;
    margin: auto;
    margin-right: 10px;
    
}

.nav_containers{
    font-size: small !important;
    color: white !important;
    font-style:normal;
    position: absolute;
    top: 0px;
    right: 10px;
}
  select{
    border: 2px solid var(--secondary-color);
    color: var(--light-text-color);
    border-radius: 4px;
  }

  select:hover{
    border: 2px solid blue;
    border-radius: 16px;
  }

  select:focus{
    background-color: lightblue;
    border: 3px solid #555;
    font-size: medium;
  }

.nav_containers > input {
    border: 1px solid black;
    border-radius: 0;
    margin: auto;
    margin-right: 10px;
}

  fieldset[type=checklist]{
    border: 2px solid var(--secondary-color);
    color: var(--light-text-color);
    border-radius: 4px;
    transition: width 0.4s ease-in-out;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  fieldset[type=checklist]:hover{
    border: 2px solid blue;
    border-radius: 16px;
  }
